// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$extralight:	#45698B;
$light:		#243B51;
$primary: #152A3F !default;
$dark: #052441;
$extradark:	#020D18;
$secondary: #DDBA0F !default;


$my-font: Gotham-Light, sans-serif;

// sass sass/one-page-wonder.scss css/one-page-wonder.css
